.~lock.compare_usb.ods#
.vscode/
.idea/
done_solutions/
usbwall/
test_programs/
deprecated/
external/
logs.txt
*.o
*.d
app
*.db


*.aux
*.xml
*.log
*.fls
*.blg
*.bcf
*.bbl
*.fdb_latexmk
*.out
*.bbl-SAVE-ERROR
*.gz
*.toc
